<a href="https://colab.research.google.com/github/heliton1986/Tutorial_PySpark/blob/main/Tutorial_5_Pyspark_With_Python_GroupBy_And_Aggregate_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pyspark GroupBy And Aggregate Functions

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 48.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=58a5a529f9f37e627bf537db8fa9b14c5479847413a2b3be2fca2ba67397ce42
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
# Criando SparkSession
spark = SparkSession.builder.appName('Tutorial 5').getOrCreate()

In [ ]:
spark

In [ ]:
# Criar e ler dataset
df_pyspark = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/PySpark Tutorial/tutorial_Pyspark5.csv', header=True, sep=',', inferSchema=True)

In [ ]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

# GroupBy agrega as colunas por cada registro

In [ ]:
from pyspark.sql.functions import *

In [16]:
# GroupBy
# Agrega por nome, somando os salarios de cada funcionário
df_pyspark.groupBy('Name').sum('Salary').show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [19]:
# GroupBy
# Agrega por nome, somando os salarios de cada funcionário
df_pyspark.groupBy('Name').agg(sum('Salary').alias('Sum_Salary')).show()

+---------+----------+
|     Name|Sum_Salary|
+---------+----------+
|Sudhanshu|     35000|
|    Sunny|     12000|
|    Krish|     19000|
|   Mahesh|      7000|
+---------+----------+

In [ ]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
from pyspark.sql.functions import *

In [17]:
# Agregar pelo maior salário 
df_pyspark.groupBy('Name').max('Salary').show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [18]:
# Agregar pelo maior salário 
df_pyspark.groupBy('Name').agg(max('Salary').alias("Max_Salary")).show()

+---------+----------+
|     Name|Max_Salary|
+---------+----------+
|Sudhanshu|     20000|
|    Sunny|     10000|
|    Krish|     10000|
|   Mahesh|      4000|
+---------+----------+

In [ ]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
# Agregar o departamento com a soma dos salários 
df_pyspark.groupBy('Departments').sum('Salary').show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [ ]:
# Agregar o departamento com a soma dos salários 
df_pyspark.groupBy('Departments').sum('Salary').alias('Sum_Salary').show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [ ]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
# A média dos salários agregando por departamento 
df_pyspark.groupBy('Departments').mean('Salary').show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [ ]:
# A média dos salários agregando por departamento 
df_pyspark.groupBy('Departments').mean('Salary').alias("Mean_Salary").show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [ ]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
# Quantidade de cada departamento
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [ ]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

# Agg agrega valor total de uma coluna

In [ ]:
df_pyspark.agg({'Salary': 'mean'}).show()

+-----------+
|avg(Salary)|
+-----------+
|     7300.0|
+-----------+

In [ ]:
from pyspark.sql import functions as F

In [ ]:
df_pyspark.agg(F.mean(df_pyspark['Salary']).alias('Media')).show()

+------+
| Media|
+------+
|7300.0|
+------+

In [ ]:
df_pyspark.agg({'Salary': 'mean'}).alias('Media').show()

+-----------+
|avg(Salary)|
+-----------+
|     7300.0|
+-----------+

In [ ]:
df_pyspark.agg({'Departments': 'count'}).show()

+------------------+
|count(Departments)|
+------------------+
|                10|
+------------------+

In [ ]:
df_pyspark.select('Departments').distinct().show()

+------------+
| Departments|
+------------+
|         IOT|
|    Big Data|
|Data Science|
+------------+