<a href="https://colab.research.google.com/github/heliton1986/Tutorial_PySpark/blob/main/Tutorial_2_Pyspark_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **In this Video We will Cover**
- PySpark Dataframe
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [ ]:
# Instalar pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 46.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=0a2167f5d10f8f2cc6fb3e7c71dfa3aa28ffdf36454b29de961a72ac481690b4
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
import pyspark
import pandas as pd

In [ ]:
# Importar da biblioteca pyspark.sql o método SparkSession
from pyspark.sql import SparkSession

In [ ]:
# Criando uma sessão e nome do aplicativo
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
spark

In [ ]:
# Ler dataset
spark.read.csv('/content/sample_data/tutorial_Pyspark2.csv', header=True, sep=';')

DataFrame[Name: string, Age: string, Experience: string]

In [ ]:
# Ler dataset e mostrar
spark.read.csv('/content/sample_data/tutorial_Pyspark2.csv', header=True, sep=';').show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [ ]:
# Ler dataset
df_pyspark = spark.read.csv('/content/sample_data/tutorial_Pyspark2.csv', header=True, sep=';')

In [ ]:
# Checar o schema - Todas colunas estão como "string"
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [ ]:
# Ler dataset e mostrar com inferschema
df_pyspark = spark.read.csv('/content/sample_data/tutorial_Pyspark2.csv', header=True, sep=';', inferSchema=True)

In [ ]:
# Checar novamente o schema - Age e Experience ficaram como "Integer"
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
# Mostrar o dataset
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [ ]:
# Verificar o tipo
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
# Visualizar colunas do dataframe
df_pyspark.columns

['Name', 'Age', 'Experience']

In [ ]:
# Visualizar apenas as 2 primeiras linhas
df_pyspark.head(2)

[Row(Name='Krish', Age=31, Experience=10),
 Row(Name='Sudhanshu', Age=30, Experience=8)]

In [ ]:
# Visualizar apenas as 2 últimas linhas
df_pyspark.tail(2)

[Row(Name='Sudhanshu', Age=30, Experience=8),
 Row(Name='Sunny', Age=29, Experience=4)]

In [ ]:
# Mostrar dataframe
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [ ]:
# Mostrar conteúdo de uma coluna
df_pyspark.select('Name')

DataFrame[Name: string]

In [ ]:
# Mostrar conteúdo de uma coluna
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
+---------+

In [ ]:
# Tipo - pyspqrk.sql dataframe
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.select('Name', 'Experience')

DataFrame[Name: string, Experience: int]

In [ ]:
# Mostrar varias clounas
df_pyspark.select('Name', 'Experience').show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
+---------+----------+

In [ ]:
# Diferente do Pandas nao conseguimos visualizar uma coluna com []
df_pyspark['Name']

Column<'Name'>

In [ ]:
# Diferente do Pandas nao conseguimos visualizar uma coluna com []
# E método show() não funcionará também
df_pyspark['Name'].show()

TypeError: ignored

In [ ]:
# Verificar tipos de dados de cada coluna
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
# Usar describe para ver informações, inicialmente todos eram string
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [ ]:
# Usar describe para ver informações, mostrando todos parâmetros
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| Age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|30.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [ ]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [ ]:
# Adicionando colunas no dataframe no pyspark
df_pyspark.withColumn('Experience after 2 years', df_pyspark['Experience']+2)

DataFrame[Name: string, Age: int, Experience: int, Experience after 2 years: int]

In [ ]:
# Adicionando colunas no dataframe no pyspark
df_pyspark = df_pyspark.withColumn('Experience after 2 years', df_pyspark['Experience']+2)

In [ ]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|Age|Experience|Experience after 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|        10|                      12|
|Sudhanshu| 30|         8|                      10|
|    Sunny| 29|         4|                       6|
+---------+---+----------+------------------------+

In [ ]:
# Deletar uma coluna
df_pyspark.drop('Experience after 2 years')

DataFrame[Name: string, Age: int, Experience: int]

In [ ]:
# Deletar uma coluna
df_pyspark = df_pyspark.drop('Experience after 2 years')

In [ ]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [ ]:
# Renomear colunas
df_pyspark.withColumnRenamed('Name', 'New Name')

DataFrame[New Name: string, Age: int, Experience: int]

In [ ]:
# Renomear colunas
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [ ]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [ ]:
df_pyspark = df_pyspark.withColumnRenamed('Name', 'New Name')

In [ ]:
df_pyspark.show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+