<a href="https://colab.research.google.com/github/heliton1986/Tutorial_PySpark/blob/main/Tutorial_1_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 31 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 57.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=05a42628477b45b8f5928aab9257710b3a41e60e5e8c892c7734005383217342
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
# Importar biblioteca pyspark
import pyspark

In [ ]:
import pandas as pd

In [ ]:
# Lendo arquivo csv com delimitador
df_pandas = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/PySpark Tutorial/tutorial_Pyspark1.csv', delimiter=';')

In [ ]:
# Mostrando df_pandas
df_pandas

        Name  Age
0      Krish   31
1  Sudhanshu   30
2      Sunny   29

In [ ]:
# Tipo df_pandas
type(df_pandas)

pandas.core.frame.DataFrame

In [ ]:
# Da biblioteca pyspark .sql, importar método SparkSession
from pyspark.sql import SparkSession

In [ ]:
# Criar um nome para a aplicação
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
# Rodando a aplicação
spark

In [ ]:
# Dataframe em spark
df_pyspark = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/PySpark Tutorial/tutorial_Pyspark1.csv', sep=';', inferSchema=True, header=True)

In [ ]:
df_pyspark

DataFrame[Name: string, Age: int]

In [ ]:
# Visualizar dataset
df_pyspark.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [ ]:
# Tipo df_pyspark
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
# Visualizar apenas 2 primeiras linhas
df_pyspark.head(2)

[Row(Name='Krish', Age=31), Row(Name='Sudhanshu', Age=30)]

In [ ]:
# Visualizar apenas 2 últimas linhas
df_pyspark.tail(2)

[Row(Name='Sudhanshu', Age=30), Row(Name='Sunny', Age=29)]

In [ ]:
# Visualizar schema
df_pyspark.printSchema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)