<a href="https://colab.research.google.com/github/heliton1986/Tutorial_PySpark/blob/main/Tutorial_4_Pyspark_Dataframes_Filter_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pyspark Dataframes
- Filter Operation
- &,|,==
- ~"

In [ ]:
!pip install pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Tutorial 4').getOrCreate()

In [5]:
spark

In [7]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/PySpark Tutorial/tutorial_Pyspark4.csv', header=True, sep=';', inferSchema=True)

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

## Filters Operations

In [ ]:
# Salário menor ou igual a 20000
df_pyspark.filter('Salary <= 20000').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

OU

In [ ]:
df_pyspark.filter(df_pyspark.Salary <=20000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

OU

In [ ]:
df_pyspark.filter(df_pyspark['Salary'] <=20000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
# Salário menor ou igual a 20000, mostrando colunas selecionadas
df_pyspark.filter('Salary <= 20000').select('Name', 'Age', 'Salary').show()

+-------+---+------+
|   Name|Age|Salary|
+-------+---+------+
|  Sunny| 29| 20000|
|   Paul| 24| 20000|
| Harsha| 21| 15000|
|Shubham| 23| 18000|
+-------+---+------+

In [ ]:
# Filtrando com duas condições
df_pyspark.filter('Salary > 15000' and 'Age == 24').show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Paul| 24|         3| 20000|
+----+---+----------+------+

OU

In [ ]:
# Filtrando com duas condições
df_pyspark.filter((df_pyspark['Salary']<=20000) &
                  (df_pyspark['Age']==24)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Paul| 24|         3| 20000|
+----+---+----------+------+

In [9]:
# Filtrando com duas condições com negação
df_pyspark.filter(~(df_pyspark['Salary']<=20000) &
                  (df_pyspark['Salary']>=15000)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

In [ ]:
df_pyspark.filter('Salary <=20000' and 'Salary >=15000').show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+